.pius{
    margin-left: 80px;
    width: 200px
}
.fav{
    margin-left: 50px
}
.emma{
    margin-left: 50px
}
.sp{margin-left: 50px}

.px{
    margin-left: 100px;
    border: 3px solid; 
    padding: 20px;
    background-color: cadetblue;
    margin-right: 208px;
    
    
}

.dav{ 
    margin-left: 40px
}




